.TelemetryDiv {
  width: 100%;
  height: auto;
  background-color: #080808;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2.5rem;
  border-radius: 10px;
}
