.ContentWrap {
  height: auto;
  background-color: #080808;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 2px solid #424242;
  border-bottom: 2px solid #424242;
  border-right: 2px solid #424242;
  border-left: 2px solid #424242;
  margin-bottom: 2.5rem;
  border-radius: 10px;
}
